.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cursor-pointer {
  cursor: pointer;
}
#content{
  overflow-y: auto;
}
.navbar-brand{
  color: #007a00;
}
#services-holder{
  width: 350px;
}
#services-holder + div{
  overflow-y: auto;
  overflow-x: hidden;
}
#send-message:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
  background-color: rgb(250,250,250);
}
#send-message + a{
  background: none;
  border: 0
}
.overflow-y-auto{
  overflow-y: auto;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.fill-height{
  flex-grow: 1;
}
.talk-bubble.talk-right:after{
  content: ' ';
	border: 20px solid;
	border-color: white transparent transparent transparent;
  margin-left: -20px;
  margin-right: -20px;
}
.talk-bubble.talk-right{
  margin-right: 20px !important;
}
.talk-bubble.talk-left:before{
  content: ' ';
	border: 20px solid;
	border-color: #ECE5DD transparent transparent transparent;
  margin-left: 0x;
  margin-right: -20px;
}
#messages-holder,.active{
  background-color: #DBF5C6;
}
.receiver-bubble{
  background-color: #ECE5DD;
  border: 1px solid #ECE5DD
}
.service-details{
  background-color: #E0E0E0
}
.loading-modal{
  width: 200px;
}
.loading-modal .loading{
  border-width: 15px;
  width: 150px;
  height: 150px
}
.btn-facebook {
	background: #3B5998;
	color: #fff;
}
.active-menu{
	background-color: #4D4A59;
}