html, body, #root{
  height: 100%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logo-img{
  width: 250px;
}
.header{
  height: 60px;
  width: 100%;
  background-color: #C4C4C4;
}
.wrapper{
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: stretch;
}
#sidebar{
  width: 300px;
  background-color: #373540;
  transition: height 0s;
}
.menu-toggler{
  color: #373540;
}
#sidebar a{
  color: #A5A3B3
}